<h2>Brill CMS Editor</h2>
<p>On the left hand side are the web apps you have access to and also the Storybook. The upspeak web app is a demo app that you can copy.</p>
<p>The Storybook contains a set of components that can be dragged and dropped or copy and pasted onto pages.</p>
<p>Start by looking at the upspeak app and have a look at the various components in the Storybook. Also look at the CMS Help.</p>
<h2>Creating a new application from scratch</h2>
<p>Right click on the top level folder and select New Folder. Create a folder with the name of the web app.</p>
<p>Under the top level web app folder, create directories of Database, Icons, Images, Pages, Resources, Scripts and Themes.</p>
<p>Copy over files from an existing web app and modify. Get extra components from the Storybook.</p>
<h2>Version Control</h2>
<p>Version Control provides a means of tracking and releasing changes.</p>
<p>You have a workspace in which changes are made. Your workspace is private and changes you make won't impact other people.</p>
<p>Your account is restricted and you can't publish changes to the <strong>develop</strong> or <strong>master </strong>branches. When you're ready for your work to be published, you need to get someone that has the <strong>cms_version_control</strong> permission to check your work and publish it. Your web application will only accessible to other users when it has been checked into the <strong>master</strong> branch and deployed to the <strong>production </strong>workspace.</p>
<p>There might be updates to the Storybook and Demo applications. These changes, if any, will be listed below. You can update your workspace to include the changes by clicking on the Rebase or Pull buttons.</p>
